{% extends "base.html" %}

{% block content %}
<div class="dash-container">
    <h1  class="name_event">Změna hesla</h1>
    <div class="form_user_register">
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="form-errors">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        {{ form.new_password1.errors }}
        {{ form.new_password1 }}

        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        {{ form.new_password2.errors }}
        {{ form.new_password2 }}

    <button type="submit">Změnit heslo</button>

    {% if messages %}
        <ul>
        {% for message in messages %}
        {% endfor %}
        </ul>
    {% endif %}
   

    </div>
</form>
</div>
{% endblock %}
