{% extends "base.html" %}

{% block content %}
<div class="dash-container">
    <h1  class="name_event">Heslo bylo úspěšně změněno</h1>
    <p class="p">Vaše heslo bylo úspěšně změněno. Nyní se můžete přihlásit s novým heslem.</p>
    <div >
    <form action="{% url 'organizer_login' %}" method="get">
    <button type="submit">Přihlásit se</button>
    </form>

    </div>
    {% if messages %}
        <ul>
        {% for message in messages %}
        {{message}}
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}


