__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.swp
venv/
ENV/
env/
.venv/
.vscode/
/.idea
/events/migrations/
/payments/migrations/
/registrations/migrations/
/results/migrations/
/users/migrations/
/articles/migrations/
databaze.db

