__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.swp
venv/
ENV/
env/
.venv/
.vscode/
/.idea
databaze.db
/event/migrations/
/payments/migrations/
/registrations/migrations/
/results/migrations/
/users/migrations/


/events/migrations/
/articles/migrations/
/import_data.py
