{% extends 'payments/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Platba přes QR kód</h2>
            <p class="text-muted" style="font-size: 1rem;">
                Platbu proveďte pouze naskenováním QR kódu v mobilní bankovní aplikaci. Jiný způsob platby není možný.
            </p>
        </div>
        <div class="card-body">
            <p>Proveďte platbu naskenováním tohoto QR kódu ve své bankovní aplikaci:</p>
            <img src="{{ payment.qr_code.url }}" alt="QR kód pro platbu">
            <p>Variabilní symbol: {{ payment.variable_symbol }}</p>
            <p>Částka: {{ payment.amount }} Kč</p>
        </div>
    </div>
</div>
{% endblock %}