{% extends "base.html" %}
{% load filters %}

{% block content %}
<div class="back-link-bar">
    <a href="{% url 'organizer_dashboard' %}" class="back-link">↵ Zpět na výpis položek pro organizátory</a>
</div> 
    <h1 class="h1"> 📝 Prezenční listina</h1>
    <a style="color: #4682b4;text-align:left;font-size: 18px;" href="{% url 'generate_results_template' event.id %} ">📥 Stáhnout rozšířenou šablonu výsledků (Excel)
    </a>
    
{% if registrations %}
    
    <table >
        <thead>
            <tr style="color: #4682b4;text-align:left;">
                <th>č.řádku</th>
                <th>Příjmení</th>
                <th>Jméno</th>
                <th>Datum narození</th>
                <th>Email</th>
                <th>Datum registrace</th>
                <th>Kategorie</th>
                <th>Podpis účastníka</th>
            </tr>
        </thead>
        <tbody>
            {% for registration in registrations %}
            <tr style="color: #4682b4;text-align:left;">
                <td>{{ forloop.counter }}</td>
                <td>{{ registration.id_user.last_name }}</td>
                <td>{{ registration.id_user.first_name }}</td>                
                <td>{{ registration.id_user.birth_date|date:"d.m.Y" }}</td>
                <td>{{ registration.id_user.email }}</td>
                <td>{{ registration.registration_date|date:"d.m.Y" }}</td>
                <td>{{ registration.category }}</td>
                <th></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>Zatím tu není žádná registrace.</p>
{% endif %}
{% endblock %}
