{% extends "base.html" %}
{% load filters %}


{% block content %}

<div class="back-link-bar">
    <a href="{% url 'events_list' %}" class="back-link">↵ Úvod</a>
</div>
<form method="get" class="search-form-bar">

    <select name="region">
        <option value="">-- Vyber kraj --</option>
        {% for reg in regions %}
            <option value="{{ reg }}" {% if request.GET.region == reg %}selected{% endif %}>
                {{ reg }}
            </option>
        {% endfor %}
    </select>

    <input type="text" name="name_event" placeholder="Název závodu" value="{{ request.GET.name_event }}">
    <input type="date" name="date_from"  value="{{ request.GET.date_from }}">
    <input type="date" name="date_to" value="{{ request.GET.date_to }}">
    <button type="submit">Hledat</button>

</form>

        {% for event in events %}
        <a href="{% url 'event_details' event.pk %}" class="writing-container-link">
        <div class="writing-container">        
            <div class="date_event">{{ event.date_event|date:"l, j. F Y" }},  {{ event.city }}</div><br>
            <div class="name_event">{{ event.name_event }}</div>
            <div class="description">{{ event.description|truncate_without_ellipsis:100 }}</div>
            <div class="date_event basic_info">► Start:  {{event.start_time}} ↔ délka tratě:   {{event.distance|m_2_km}} km ► Kraj:  {{event.region}} ► Startovné: {{event.start_fee|floatformat:0}} ,-</div>              
        </div>
        </a>

        {% empty %}        
            <li>Žádné události nebyly nalezeny.</li>
        {% endfor %}


        {% if is_paginated %}
        <div class="pagination">
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="page-square active">{{ num }}</span>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}" class="page-square">{{ num }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
{% endblock %}
