{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}
<body>

<main>

<div class="container">
    <div class="top-right">
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="dropbtn" type="button">
                    <div class="user-info">Přihlášen uživatel: {{ user.first_name }} {{ user.last_name }}</div>
                    <span class="arrow">▼</span>
                </button>
                <div class="link_submenu" style="display: none;">
                    <form method="post" action="">
                        {% csrf_token %}
                        <a href="{% url 'user_logout' %}" class="logout-button">Odhlásit se</a>
                    </form>
                    <a href="#">další položka1</a>
                    <a href="#">další položka2</a>
                </div>
            </div>
    
    {% elif logged_organizer %}
        <div class="dropdown">
            <button class="dropbtn" type="button">
                <div class="user-info">Přihlášen organizátor: {{ logged_organizer.company_name }}</div>
                <span class="arrow">▼</span>
            </button>
            <div class="link_submenu" style="display: none;">
                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Odhlásit se</button>
                </form>
            </div>
        </div>

    {% elif not user.is_authenticated and not logged_organizer %}
    <div class="dropdown">
        <button class="dropbtn" type="button">
            Registrace <span class="arrow">▼</span>
        </button>
        <div class="link_submenu">
            <div class="link_submenu_item">
                <a href="{% url 'user_register' %}">Registrovat uživatele</a>
            </div>
            <div class="link_submenu_item">
                <a href="{% url 'organizer_register' %}">Registrovat organizátora</a>
            </div>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn" type="button">
            Přihlášení <span class="arrow">▼</span>
        </button>
        <div class="link_submenu">
            <div class="link_submenu_item">
                <a href="{% url 'user_login' %}">Přihlásit uživatele</a>
            </div>
            <div class="link_submenu_item">
                <a href="{% url 'organizer_login' %}">Přihlásit organizátora</a>
            </div>
        </div>
    </div>

{% endif %}
    </div>
    <h1 class="h1">Termínovka běžeckých závodů</h1>
    {% include "includes/nav_bar.html" %} 

    {% block content %}
    {% endblock %}
</div>
</div>
</main>
</body>
</html>
