{% load filters %}
{% include "includes/head.html" %}

{% block content %}


<div class="date_event" style="display: flex;font-family: 'Open Sans', sans-serif;color: #4682b4;align-items: center   ;text-transform:uppercase; ">Seznam pořádaných událostí:</div>

<div class="">        
    <div class="date_event">
        <a href="{% url 'organizer_event_create'%}" class="date_event a"> + Přidat událost</a>
    </div>         
</div>

        {% for event in page_obj %}
        
        <div class="dash-container">        
            <div class="date_event">{{ event.date_event|date:"l, j. F Y" }},  {{ event.city }}</div>
            <div class="name_event">{{ event.name_event }}</div>
            <div class="description">{{ event.description|truncate_without_ellipsis:100 }}</div>
            <div class="date_event basic_info">► Start:  {{event.start_time}} ↔ délka tratě:   {{event.distance|m_2_km}} km ► Kraj:  {{event.region}} ► Startovné: {{event.start_fee|floatformat:0}} ,-</div> 
            <div class="date_event">
            <a href="{% url 'organizer_event_update' event.pk %}" class="date_event a"> ✏️ Editovat</a>
                
                <form method="post" action="{% url 'organizer_event_delete' event.pk %}" style="display:inline;">
                {% csrf_token %}
                    <button type="submit" class="link-style" onclick="return confirm('Opravdu chcete smazat tuto událost?')">🗑️ Smazat
                    </button>
                </form>               

            </div>             
        </div>
        

        {% empty %}
        
            <li>Žádné události nebyly nalezeny.</li>
        {% endfor %}


        

{% endblock %}   

