{% extends "base.html" %}

{% block content %}
<div class="dash-container">
  <h1 class="name_event">Opravdu chcete smazat událost?</h1>
  <div class="form_user_register">
    <p class="date_event_basic_info">{{ event.name_event }}</p>
    <p class="date_event basic_info">{{ event.date_event|date:"l, j. F Y" }}, {{ event.city }}</p>
    <p class="date_event basic_info">{{ event.description }}</p>
 </div>

<form method="post"></form>
    {% csrf_token %}
    <button type="submit">Ano, smazat      
    </button>
    <button class="dropbtn" type="button">
        <a  class="user-info" style="color: white;" href="{% url 'organizer_dashboard' %}" >Zrušit</a>
      </button>
    
  </form>
</div>
{% endblock %}   