{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
<h1 class="h1">Přihlášení organizátora</h1>



        <div class="form_user_register">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-errors">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email.errors }}
                {{ form.email }}

                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password.errors }}
                {{ form.password }}

   
                
                <button type="submit">Přihlášení</button>
            </form>
        </div>
</main>
{% endblock %}
