{% extends "base.html" %}
{% load static %}


{% block content %}

<main>
<h1 class="h1">Registrace organizátora</h1>
        <div class="back-link-bar">
            <a href="{% url 'events_list' %}" class="back-link">↵ Zpět na úvodní stránku</a>
        </div>

        
        <div class="form_user_register">
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-errors">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email.errors }}
                {{ form.email }}

                <label for="{{ form.organization_name.id_for_label }}">{{ form.organization_name.label }}</label>
                {{ form.organization_name.errors }}
                {{ form.organization_name }}

                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                {{ form.password1.errors }}
                {{ form.password1 }}

                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                {{ form.password2.errors }}
                {{ form.password2 }}

                <button type="submit">Registrovat</button>
            </form>
        </div>
    </div>


    

        
</main>
{% endblock %}